@page
@model SWP_Steel.Pages.Admin.Profile.PasswordModel

@{
    ViewData["Title"] = "Password";
    Layout = "Shared/_LayoutAdmin";
}

@* <h1>Password</h1> *@
@* *@
@* <h4>Employee</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <input type="hidden" asp-for="Employee.EmployeeId" /> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.FullName" class="control-label"></label> *@
@*                 <input asp-for="Employee.FullName" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.FullName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Title" class="control-label"></label> *@
@*                 <input asp-for="Employee.Title" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Title" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.TitleOfCourtesy" class="control-label"></label> *@
@*                 <input asp-for="Employee.TitleOfCourtesy" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.TitleOfCourtesy" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.BirthDate" class="control-label"></label> *@
@*                 <input asp-for="Employee.BirthDate" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.BirthDate" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Address" class="control-label"></label> *@
@*                 <input asp-for="Employee.Address" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Address" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Gender" class="control-label"></label> *@
@*                 <input asp-for="Employee.Gender" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Gender" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Phone" class="control-label"></label> *@
@*                 <input asp-for="Employee.Phone" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Phone" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Email" class="control-label"></label> *@
@*                 <input asp-for="Employee.Email" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Password" class="control-label"></label> *@
@*                 <input asp-for="Employee.Password" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Role" class="control-label"></label> *@
@*                 <input asp-for="Employee.Role" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Role" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Captcha" class="control-label"></label> *@
@*                 <input asp-for="Employee.Captcha" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Captcha" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Employee.Status" class="control-label"></label> *@
@*                 <input asp-for="Employee.Status" class="form-control" /> *@
@*                 <span asp-validation-for="Employee.Status" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Save" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div> *@
@*     <a asp-page="./Index">Back to List</a> *@
@* </div> *@

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Mật khẩu</h4>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg">
                        <img id="preview-product" width="100%" alt="user" src="~/image/index-img/avatar-default.jpg">
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Employee.EmployeeId"/>
                            <input type="hidden" asp-for="Employee.FullName" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Title" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Address" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.BirthDate" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Phone" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Gender" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Role" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.TitleOfCourtesy" class="form-control px-2"/>
                            <div class="form-group mb-4">
                                <label asp-for="Employee.Email" class="control-label"></label>
                                <div class="col-sm-12 border-bottom">
                                    <span asp-validation-for="Employee.Email" class="text-danger"></span>
                                    <input asp-for="Employee.Email" class="form-control px-2"/>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Employee.Password" class="control-label"></label>
                                <div class="col-sm-12 border-bottom">
                                    <span asp-validation-for="Employee.Password" class="text-danger"></span>
                                    <input type="password" asp-for="Employee.Password" class="form-control px-2"/>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <input type="submit" value="Thay đổi" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>