@page
@model SWP_Steel.Pages.AboutModel
@{
}
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mt-5">
          <div class="about-title text-center">
            <h1>Giới Thiệu Tập Đoàn Thế Giới Thép</h1>
            <img src="./assets/image/index-img/slider1.jpg" alt="">
          </div>
          <div class="about-detail">
            <p>Nền kinh tế Việt Nam hiện nay có tốc độ tăng trưởng nhanh chóng đứng trong Top 40 nền kinh tế lớn nhất thế giới. Cơ sở hạ tầng, các công trình cao tầng không ngừng được đầu tư và phát triển mạnh mẽ góp phần làm thay đổi diện mạo của quốc gia. </p>
            <p>Cùng với sự phát triển tăng trưởng vượt trội của đất nước là nguồn động lực để Tập Đoàn Thế Giới Thép không ngừng vươn lên, không ngừng phát triển, từng bước khẳng định thương hiệu của mình trong lĩnh vực sắt thép xây dựng. </p>
            <p>Công Ty Cổ Phần Thế Giới Thép (Thế Giới Thép Group) tiền thân là Công ty Cổ Phần Sản Xuất Thép Nguyễn Minh thành lập từ tháng 10 năm 2010. </p>
            <img src="./assets/image/index-img/store1.jpg" alt="" class="d-block">
            <div class="img-title">
              <em>Chi nhánh Thế Giới Thép tại 586 Lê Văn Khương, Phường Thới An, Quận 12, Tp.HCM</em>
            </div>
            <img src="./assets/image/index-img/store2.jpg" alt="">
            <div class="img-title">
              <em>Văn Phòng Thế Giới Thép CN Lê Văn Khương</em>
            </div>
            <p><strong>Tập Đoàn Thế Giới Thép</strong> chuyên cung cấp tất cả các loại sắt thép xây dựng chất lượng cao từ các thương hiệu uy tín tại Việt Nam như: Thép Việt Nhật (Vina kyoei), Pomina, Hòa phát, Miền Nam,Việt Mỹ, Đông Á.</p>
            <p>Ngoài ra công ty chúng tôi còn cung cấp thép hộp, thép hình, thép I, thép U, thép V, thép H, tôn, xà gồ C, Z, La….của các thương hiệu hàng đầu Việt Nam: Hoa Sen, Hòa Phát, Nam Kim, Vinaone, TVP, Nguyễn Minh… với đầy đủ kích cỡ, chủng loại cho các công trình lớn, nhỏ trong và ngoài nước.</p>
            <h2>Mục Tiêu</h2>
            <p><strong>Thế Giới Thép</strong> luôn chú trọng chất lượng sản phẩm và dịch vụ chuyên nghiệp là giá trị “cốt lõi” của doanh nghiệp. Tập thể cán bộ, công nhân viên chúng tôi luôn luôn học hỏi, tiếp thu ý kiến đóng góp, phấn đấu để trở thành tập đoàn cung cấp <strong>sắt thép xây dựng</strong> chất lượng và uy tín hàng đầu Việt Nam.   </p>
            <p>Sản phẩm chất lượng, thương hiệu uy tín là tiêu chí tiên quyết của <strong>Thế Giới Thép Group</strong>. Chúng tôi cung cấp đầy đủ đa dạng các loại mẫu mã sắt thép, kích thước, chủng loại khác nhau với mức giá cạnh tranh, số lượng chính xác và thời gian giao hàng nhanh nhất đáp ứng nhu cầu khách hàng. Mục tiêu cuối cùng chúng tôi hướng tới là <strong>niềm tin, sự hài lòng của quý khách hàng</strong> khi đến với <strong>Thế Giới Thép.</strong> </p>
            <h2>Tầm nhìn</h2>
            <p><strong>Thế Giới Thép Group</strong> với chiến lược mở rộng quy mô kinh doanh, mở rộng thị phần không những ở khu vực miền nam mà còn mở rộng trên phạm vi cả nước. Hiện tại Tập Đoàn Thế Giới thép có trụ sở chính ở Thành Phố Thủ Đức và nhiều chi nhánh Quận 12, Nhà Bè, Hóc Môn thuộc Thành Phố Hồ Chí Minh. Chúng tôi đẩy mạnh xây dựng nhiều chi nhánh toàn khu vực Thành Phố Hồ Chí Minh và các khu vực lân cận như Đồng Nai, Bình Dương, Long An…</p>
            <img src="./assets/image/index-img/store3.jpg" alt="">
            <div class="img-title">
              <em>Thế Giới Thép Group Quận 12</em>
            </div>
            <img src="./assets/image/index-img/store4.jpg" alt="">
            <div class="img-title">
              <em>Thế Giới Thép Group Nhà Bè</em>
            </div>
            <img src="./assets/image/index-img/store5.jpg" alt="">
            <div class="img-title">
              <em>Thế Giới Thép Group Hóc Môn</em>
            </div>
            <p><strong>Thế Giới Thép Group</strong> định hướng phát triển trở thành tập đoàn cung cấp sắt thép xây dựng chất lượng dẫn đầu khu vực, với phương châm “Nơi uy tín tuyệt đối” là sự lựa chọn hàng đầu khi nhắc đến ngành sắt thép xây dựng.</p>
            <h4>Cam Kết</h4>
            <ul>
              <li>Chúng tôi cam kết bán hàng chính hãng 100%, sản phẩm có Giấy chứng nhận chất lượng của nhà máy.</li>
              <li>Sản phẩm mới không rỉ sét, cong vênh, gia công theo yêu cầu.</li>
              <li>Hàng hóa chất lượng, giá cả cạnh tranh</li>
              <li>Giao hàng nhanh trong vòng 2h-3h kể từ lúc đặt hàng tại TP.HCM</li>
              <li>Nhận đặt hàng tại cửa hàng, qua điện thoại, email và giao hàng tận nơi. </li>
              <li>Đơn hàng khi xuất kho được kiểm soát chặt chẽ qua bộ phận kinh doanh, kế toán, kho vận. </li>
              <li>Khi giao hàng luôn kèm theo bộ chứng từ giao hàng. </li>
              <li>Kho hàng rộng, nguồn hàng dự trữ lớn, mẫu mã phong phú, đa dạng, cung ứng đầy đủ và kịp thời, tiết kiệm thời gian của khách hàng </li>
              <li>Đầy đủ các phương tiện vận chuyển hàng hóa như, xe container,  xe container cẩu, xe tải, xe tải cẩu, xe ba gác, đảm bảo giao hàng đến khách hàng nhanh nhất. </li>
              <li>Giao hàng đúng số lượng, khối lượng, đúng chủng loại, đúng thời gian, đúng tiến độ. </li>
              <li>Đội ngũ nhân viên tâm huyết, tư vấn nhiệt tình, hết lòng phục vụ khách hàng. </li>
            </ul>
            <h2>Sứ Mệnh</h2>
            <p><strong>Tập Đoàn Thế Giới Thép</strong> tạo dựng tập đoàn cung cấp thép xây dựng hàng đầu Việt Nam, duy trì thế mạnh thương hiệu, là nơi uy tín tuyệt đối, đạt được sự tin yêu của khách hàng.</p>
            <ul>
              <li><strong>Đối với khách hàng:</strong> Tập Đoàn Thế Giới Thép cung cấp sắt thép xây dựng chất lượng tốt nhất đến mọi công trình cùng với sự phục vụ nhiệt tình, trách nhiệm, uy tín, chính xác. Là người bạn đồng hành, hỗ trợ tư vấn các loại thép phù hợp với công trình, tư vấn chi phí đưa đến giải pháp tối ưu, hiệu quả kinh tế cao. </li>
              <li><strong>Đối với nhân viên:</strong>  Đào tạo đội ngũ nhân viên nhiệt tình, chuyên nghiệp, Xây dựng môi trường làm việc hiệu quả, năng động, nâng cao thu nhập và tạo điều kiện phát triển cho tất cả nhân viên.</li>
              <li><strong>Đối với đối tác:</strong> xây dựng mối quan hệ bền vững, tôn trọng và tin tưởng tạo ra các giá trị công bằng cho đôi bên.</li>
              <li><strong>Đối với xã hội:</strong> Cam kết tuân thủ pháp luật Việt Nam trong việc hoạt động kinh doanh và lao động. Thường xuyên quan tâm đến việc cải thiện môi trường làm việc an toàn, sạch đẹp, bảo vệ môi trường cộng đồng. </li>
            </ul>
            <h4>Lời Cảm Ơn</h4>
            <p>Sự phát triển mạnh của Tập Đoàn Thế Giới Thép là dựa vào mối quan hệ bền vững, lâu dài và uy tín tuyệt đối của chúng tôi với khách hàng. </p>
            <p>Chúng tôi xin gửi lời cảm ơn sâu sắc tới quý khách hàng đã đóng góp ý kiến và đồng hành cùng chúng tôi trong suốt thời gian qua.</p>
            <div class="about-form">
              <form action="" class="row">
                <h3>Trả lời</h3>
                <p>Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu *</p>
                <div class="col-12">
                  <label for="comment"><strong>Bình luận*</strong></label>
                  <textarea name="comment" id="" cols="20" rows="5"></textarea>
                </div>
                <div class="col-md-4">
                  <label for="name">Tên*</label>
                  <input class="form-control" type="text" name="name">
                </div>
                <div class="col-md-4">
                  <label for="email">Email</label>
                  <input class="form-control" type="text" name="email">
                </div>
                <div class="col-md-4">
                  <label for="website">Trang web</label>
                  <input class="form-control" type="text" name="website">
                </div>
                <button class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-3 mt-5">
          <div class="blog-single-right">
              <div class="blog-single-right-item">
                  <div class="blog-single-right-title">
                      <h3>BÀI MỚI CẬP NHẬT</h3>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">

                         
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
              </div>
              <div class="blog-single-right-item">
                  <div class="blog-single-right-title">
                      <h3>BÀI MỚI CẬP NHẬT</h3>
                  </div>
                  <div class="blog-single-right-tag-list">
                      <span class="rounded-pill"><a href="">lưới B40</a></span>
                      <span class="rounded-pill"><a href="">neo cốt thép</a></span>
                      <span class="rounded-pill"><a href="">nguồn gốc lưới B40</a></span>
                      <span class="rounded-pill"><a href="">tai heo sắt</a></span>
                      <span class="rounded-pill"><a href="">thép Việt Nhật</a></span>
                      <span class="rounded-pill"><a href="">thép thanh vằn</a></span>
                      <span class="rounded-pill"><a href="">đai sắt</a></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>