@page
@model SWP_Steel.Pages.ContactModel
@{
}
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mt-5">
          <div class="contact-content row">
            <p>Sản phẩm chất lượng, thương hiệu uy tín là tiêu chí tiên quyết của <strong>Thế Giới Thép Group</strong>. Chúng tôi cung cấp đầy đủ đa dạng các loại mẫu mã sắt thép, kích thước, chủng loại khác nhau với mức giá cạnh tranh, số lượng chính xác và thời gian giao hàng nhanh nhất đáp ứng nhu cầu khách hàng. Mục tiêu cuối cùng chúng tôi hướng tới là <strong>niềm tin, sự hài lòng của quý khách hàng</strong> khi đến với <strong>Thế Giới Thép.</strong> </p>
            <p>Nếu bạn có nhu cầu báo giá sản phẩm, đặt hàng, hay bất cứ thắc mắc gì, vui lòng liên hệ với chúng tôi.</p>
            <div class="col-md-6">
              <img class="contact-img" src="~/image/contact.jpg" alt="">
            </div>
            <div class="col-md-6">
              <form action="" class="contact-form mt-5">
                <label for="">Tên của bạn</label>
                <input class="form-control" type="text">
                <label for="">Số điện thoại của bạn</label>
                <input class="form-control" type="text">
                <label for="">Email của bạn</label>
                <input class="form-control" type="text">
                <label for="">Nội dung: yêu cầu báo giá, tư vấn sản phẩm,...</label>
                <input class="form-control" type="text">
                <input type="submit" value="Gửi Yêu Cầu">
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-3 mt-5">
          <div class="blog-single-right">
              <div class="blog-single-right-item">
                  <div class="blog-single-right-title">
                      <h3>BÀI MỚI CẬP NHẬT</h3>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
                  <div class="blog-single-right-blog d-flex">
                      <div class="blog-single-right-thumbnail" style="background-image: url('/image/index-img/item1.jpg');"></div>
                      <div class="blog-single-right-content">

                         
                          <p>Báo giá thép hộp kẽm Hòa Phát ngày 15/11/2022</p>
                      </div>
                  </div>
              </div>
              <div class="blog-single-right-item">
                  <div class="blog-single-right-title">
                      <h3>BÀI MỚI CẬP NHẬT</h3>
                  </div>
                  <div class="blog-single-right-tag-list">
                      <span class="rounded-pill"><a href="">lưới B40</a></span>
                      <span class="rounded-pill"><a href="">neo cốt thép</a></span>
                      <span class="rounded-pill"><a href="">nguồn gốc lưới B40</a></span>
                      <span class="rounded-pill"><a href="">tai heo sắt</a></span>
                      <span class="rounded-pill"><a href="">thép Việt Nhật</a></span>
                      <span class="rounded-pill"><a href="">thép thanh vằn</a></span>
                      <span class="rounded-pill"><a href="">đai sắt</a></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
