@page
@model SWP_Steel.Pages.Admin.News.EditModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
	var db = new Swp391Context();
	var emp = db.Employees.ToList();

	var account = HttpContext.Session.GetString("AdminSession");
	var employee = new Employee();
	if (account == null)
	{
		HttpContext.Response.Redirect("/admin/login");
		HttpContext.Session.Clear();
	}
	else
	{
		employee = JsonSerializer.Deserialize<Employee>(HttpContext.Session.GetString("AdminSession")!);
		// Context.Response.Redirect("/admin/index");
	}
}


<div class="page-wrapper">
	<div class="page-breadcrumb bg-white">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Thêm mới Tin tức</h4>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Column -->
			<div class="col-lg-4 col-xlg-3 col-md-12">
				<div class="white-box">
					<div class="user-bg">
						<img width="100%" alt="user" src="~/images/news/@(Model.News.Image)">
					</div>
				</div>
			</div>
			<!-- Column -->
			<!-- Column -->
			<div class="col-lg-8 col-xlg-9 col-md-12">
				<div class="card">
					<div class="card-body">
						<form method="post" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input type="hidden" asp-for="News.NewsId" />
							<input type="hidden" asp-for="News.Image" />
							<div class="form-group mb-4">
								<label asp-for="News.Title" class="control-label">Tiêu Đề</label>
								<div class="col-md-12 border-bottom p-0">
									<input asp-for="News.Title" class="form-control" />
									<span asp-validation-for="News.Title" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mb-4">
								<label asp-for="News.SubContent" class="control-label">Nội dung chính</label>
								<div class="col-md-12 border-bottom p-0">
									<input asp-for="News.SubContent" class="form-control" />
									<span asp-validation-for="News.SubContent" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mb-4">
								<label asp-for="News.EmployeeId" class="control-label">Nhân Viên: @employee.FullName</label>

								<input type="hidden" asp-for="News.EmployeeId" value="@employee.EmployeeId" /><br />
								@*<div class="col-sm-12 border-bottom">

								<select asp-for="News.EmployeeId" class="form-control">
								@foreach (var e in emp)
								{
								<option value="@e.EmployeeId">@e.FullName</option>
								}
								</select>

								</div>*@
							</div>
							<div class="form-group mb-4">
								<label asp-for="News.Content" class="control-label">Nội dung</label>
								<div class="col-md-12 border-bottom p-0">
									<textarea class="form-control" asp-for="News.Content" id="inputnoidung"></textarea>
									<span asp-validation-for="News.Content" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mb-4">
								<label asp-for="News.Image" class="control-label">Thêm ảnh</label>
								<div class="col-md-12 border-bottom p-0">
									<input name="fThumb" asp-for="News.Image" type="file" />
									<span asp-validation-for="News.Image" class="text-danger"></span>
								</div>
							</div>

							<div class="form-group mb-4">
								<label asp-for="News.Status" class="control-label"></label>
								<input type="checkbox" asp-for="News.Status" />
								<span asp-validation-for="News.Status" class="text-danger"></span>

							</div>
							<div class="form-group mb-4">
								<div class="col-sm-12">
									<input type="submit" value="Cập nhật" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Column -->
		</div>
	</div>
</div>


<div>
	<a asp-page="Index">Back to List</a>
</div>

@section LanJS{
	<script>
		CKEDITOR.replace('inputnoidung')
	</script>
}

