@page
@model SWP_Steel.Pages.Client.ForgotModel
@{
}
<div id="form">
    <h4>@ViewData["mess"]</h4>
    <h3 style="padding: 20px;">Forgot your account password?</h3>
    <div style="padding: 0px 20px 10px;">
        Vui lòng nhập email tài khoản của bạn. Chúng tôi sẽ gửi email đến địa chỉ email được cung cấp và yêu cầu xác minh trước khi tạo mật khẩu mới
    </div>
    <div id="form-content">
        <form action="" method="post">
            <label>Nhập email tài khoản của bạn <span style="color: red;">*</span></label><br/>
            <input type="text" name="email"/><br/>
            <input type="submit" value="GET PASSWORD" style="margin-bottom: 30px;"/><br/>
        </form>

    </div>
</div>