@page
@model SWP_Steel.Pages.Client.SignUpModel
@{
}
<div class="content" style="margin: 100px 0;">
    <div class="container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-6 login-box">
                <form action="" method="post" class="col-md-12">
                    <h3>Đăng ký tài khoản</h3>
                    <div id="form-content">
                        <div class="msg-error" style="text-align:left">
                            @ViewData["msg"]
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Công ty:</label><br>
                            <input type="text" asp-for="Customer.CompanyName" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.CompanyName"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Họ tên:</label><br>
                            <input type="text" asp-for="Customer.ContactName" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.ContactName"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Chức vụ:</label><br>
                            <input type="text" asp-for="Customer.ContactTitle" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.ContactTitle"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Địa chỉ:</label><br>
                            <input type="text" asp-for="Customer.Address" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Address"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Email:</label><br>
                            <input type="text" asp-for="Customer.Email" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Email"></span><br/>
                        </div>
                         <div class="form-group">
                            <label for="username" class="form-text">Số điện thoại:</label><br>
                            <input type="text" asp-for="Customer.Phone" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Phone"></span><br/>
                         </div>
                        <div class="form-group">
                            <label for="password" class="form-text">Mật khẩu:</label><br>
                            <input type="password" asp-for="Customer.Password" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Password"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-text">Nhập lại mật khẩu:</label><br>
                            <input type="password" name="newPass2nd" asp-for="Customer.Password" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Password"></span><br/>
                        </div>
                        <div class="form-group">

                            <input type="submit" name="login" class="btn btn-success btn-md" value="Đăng ký">
                        </div>
                        <div id="register-link" class="d-flex justify-content-center">
                            <p>Quên mật khẩu?</p>&nbsp;
                            <a href="~/client/forgot" class="">Reset tại đây</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>