@page "/updatepassword/{email}"
@model SWP_Steel.Pages.Client.UpdatePasswordModel
@{
}
<div class="content" style="margin: 100px 0;">
    <div class="container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-6 login-box">
                <form action="" method="post" class="col-md-12">
                    <h3>Thay đổi mật khẩu</h3>
                    <div id="form-content">
                        <div class="msg-error" style="text-align:left">
                            @ViewData["mess"]
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Mật khẩu cũ:</label><br>
                            <input type="password" name="oldpass" asp-for="Customer.Password" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Password"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="username" class="form-text">Mật khẩu mới:</label><br>
                            <input type="password" name="newPass" asp-for="Customer.Password" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Password"></span><br/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-text">Nhập lại mật khẩu mới:</label><br>
                            <input type="password" name="newPass2nd" asp-for="Customer.Password" class="form-control"/><br/>
                            <span class="msg-error" asp-validation-for="Customer.Password"></span><br/>
                        </div>
                        <div class="form-group">

                            <input type="submit" name="login" class="btn btn-success btn-md" value="Change Password">
                        </div>
                     
                  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>