@page
@model SWP_Steel.Pages.Admin.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_LayoutAdmin";
    var session = JsonSerializer.Deserialize<Employee>(HttpContext.Session.GetString("AdminSession")!);
    if (session!.Role != 1)
    {
        HttpContext.Response.Redirect("/admin/index");
    }
}
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Cập nhật thông tin nhân viên</h4>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg">
                        <img id="preview-product" width="100%" alt="user" src="~/image/index-img/avatar-default.jpg">
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Employee.EmployeeId"/>
                            <input type="hidden" asp-for="Employee.FullName" class="form-control px-2"/>
                            <div class="form-group mb-4">
                                <label asp-for="Employee.Title" class="control-label"></label>
                                <div class="col-sm-12 border-bottom">
                                    <input asp-for="Employee.Title" class="form-control px-2"/>
                                    <span asp-validation-for="Employee.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Employee.Address" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.BirthDate" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Phone" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Gender" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.Email" class="form-control px-2"/>
                            <input type="hidden" asp-for="Employee.TitleOfCourtesy" class="form-control px-2"/>

                            <div class="form-group mb-4">
                                <label asp-for="Employee.Role" class="control-label"></label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select asp-for="Employee.Role" class="form-control px-2">
                                        <option value="1">Quản trị viên</option>
                                        <option value="2" selected>Nhân viên</option>
                                    </select>
                                    <span asp-validation-for="Employee.Role" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>